.download {
  display: flex;
  align-items: center;
  width: 1660px;
  height: 100px;
  background: linear-gradient(125.51deg, #2bbb97 39.05%, #25aef6 70.06%);

  &__phones {
    margin-top: -70px;
    margin-left: 113px;
  }

  &__title {
    font-size: 28px;
    margin-left: 143px;
    margin-right: 97px;
    line-height: 34px;
    color: white;
  }

  &__button {
    margin-right: 10px;
  }
}
