@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 750;
  font-style: normal;
}
