.footer {
  margin-top: 158px;
  background-color: $card-image-color;

  &__copyright {
    display: flex;
    justify-content: space-between;
    margin: 62px 125px 0;
    height: 88px;
    border-top: 1px solid $optional-text-color3;
  }
}
