*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
h2 {
  margin: 0;
}

input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}
