@import "utils";
@import "reset";
@import "header";
@import "info";
@import "main-info";
@import "about";
@import "specializations";
@import "services";
@import "doctors";
@import "comments";
@import "news";
@import "download";
@import "footer";
@import "contacts";

html {
  font-family: Avenir Next Cyr, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
}
